parameters:
	checkMissingIterableValueType: false
	ignoreErrors:
		- "#Stream\\:\\:seek\\(\\) has no return typehint specified\\.$#"
		- "#Stream\\:\\:rewind\\(\\) has no return typehint specified\\.$#"

		-
			message: "#^Method GuzzleHttp\\\\Psr7\\\\FnStream\\:\\:__get\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/FnStream.php

		-
			message: "#^Access to an undefined property GuzzleHttp\\\\Psr7\\\\FnStream\\:\\:\\$_fn_#"
			count: 15
			path: src/FnStream.php

		-
			message: "#^Parameter \\#1 \\$path of function basename expects string, string\\|null given\\.$#"
			count: 1
			path: src/MultipartStream.php

		-
			message: "#^Method GuzzleHttp\\\\Psr7\\\\MultipartStream\\:\\:getHeader\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/MultipartStream.php

		-
			message: "#^Parameter \\#1 \\$filename of function GuzzleHttp\\\\Psr7\\\\mimetype_from_filename expects string, string\\|null given\\.$#"
			count: 1
			path: src/MultipartStream.php

		-
			message: "#^Method GuzzleHttp\\\\Psr7\\\\ServerRequest\\:\\:normalizeNestedFileSpec\\(\\) should return array\\<Psr\\\\Http\\\\Message\\\\UploadedFileInterface\\> but returns array\\<int\\|string, array\\<Psr\\\\Http\\\\Message\\\\UploadedFileInterface>\\|Psr\\\\Http\\\\Message\\\\UploadedFileInterface\\>\\.$#"
			count: 1
			path: src/ServerRequest.php

		-
			message: "#^Method GuzzleHttp\\\\Psr7\\\\StreamWrapper\\:\\:getResource\\(\\) should return resource but returns resource\\|false\\.$#"
			count: 1
			path: src/StreamWrapper.php

		-
			message: "#^Method GuzzleHttp\\\\Psr7\\\\UploadedFile\\:\\:isStringNotEmpty\\(\\) has parameter \\$param with no typehint specified\\.$#"
			count: 1
			path: src/UploadedFile.php

		-
			message: "#^Method GuzzleHttp\\\\Psr7\\\\UploadedFile\\:\\:moveTo\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/UploadedFile.php

		-
			message: "#^Method GuzzleHttp\\\\Psr7\\\\Uri\\:\\:filterUserInfoComponent\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/Uri.php

		-
			message: "#^Method GuzzleHttp\\\\Psr7\\\\Uri\\:\\:filterPath\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/Uri.php

		-
			message: "#^Method GuzzleHttp\\\\Psr7\\\\Uri\\:\\:filterQueryAndFragment\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/Uri.php

		-
			message: "#^Parameter \\#1 \\$path of method Psr\\\\Http\\\\Message\\\\UriInterface\\:\\:withPath\\(\\) expects string, string\\|null given\\.$#"
			count: 3
			path: src/UriNormalizer.php

		-
			message: "#^Parameter \\#1 \\$query of method Psr\\\\Http\\\\Message\\\\UriInterface\\:\\:withQuery\\(\\) expects string, string\\|null given\\.$#"
			count: 2
			path: src/UriNormalizer.php

		-
			message: "#^Variable \\$segment might not be defined\\.$#"
			count: 1
			path: src/UriResolver.php

		-
			message: "#^Parameter \\#1 \\$fp of function fwrite expects resource, resource\\|false given\\.$#"
			count: 1
			path: src/functions.php

		-
			message: "#^Parameter \\#2 \\$str of function fwrite expects string, bool\\|float\\|int\\|string given\\.$#"
			count: 1
			path: src/functions.php

		-
			message: "#^Parameter \\#1 \\$fp of function fseek expects resource, resource\\|false given\\.$#"
			count: 1
			path: src/functions.php

		-
			message: "#^Parameter \\#1 \\$stream of class GuzzleHttp\\\\Psr7\\\\Stream constructor expects resource, resource\\|false given\\.$#"
			count: 2
			path: src/functions.php

		-
			message: "#^Parameter \\#1 \\$stream of class GuzzleHttp\\\\Psr7\\\\Stream constructor expects resource, \\(callable\\)\\|Iterator\\|Psr\\\\Http\\\\Message\\\\StreamInterface\\|resource\\|null given\\.$#"
			count: 1
			path: src/functions.php

		-
			message: "#^Parameter \\#1 \\$object of function method_exists expects object\\|string, \\(callable\\)\\|resource\\|null given\\.$#"
			count: 1
			path: src/functions.php

		-
			message: "#^Argument of an invalid type array\\<int, string\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 2
			path: src/functions.php

		-
			message: "#^Parameter \\#1 \\$str of callable 'rawurlencode'\\|'urlencode'\\|\\(Closure\\(mixed\\)\\: mixed\\) expects string, int\\|string given\\.$#"
			count: 1
			path: src/functions.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match_all expects string, string\\|null given\\.$#"
			count: 1
			path: src/functions.php

		-
			message: "#^Parameter \\#1 \\$haystack of function substr_count expects string, string\\|null given\\.$#"
			count: 1
			path: src/functions.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match expects string, string\\|null given\\.$#"
			count: 1
			path: src/functions.php
