<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" backupGlobals="true" colors="true">
    <testsuites>
        <testsuite name="Guzzle PSR-7 Test Suite">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="PSR-7 Integration Test Suite">
            <directory>./vendor/http-interop/http-factory-tests/test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <php>
        <const name="REQUEST_FACTORY" value="GuzzleHttp\Psr7\Factory\HttpFactory"/>
        <const name="RESPONSE_FACTORY" value="GuzzleHttp\Psr7\Factory\HttpFactory"/>
        <const name="SERVER_REQUEST_FACTORY" value="GuzzleHttp\Psr7\Factory\HttpFactory"/>
        <const name="STREAM_FACTORY" value="GuzzleHttp\Psr7\Factory\HttpFactory"/>
        <const name="UPLOADED_FILE_FACTORY" value="GuzzleHttp\Psr7\Factory\HttpFactory"/>
        <const name="URI_FACTORY" value="GuzzleHttp\Psr7\Factory\HttpFactory"/>
    </php>
</phpunit>
